.modal-overlay {
  position: fixed;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: end;
  align-items: start;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  margin-right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-content ul {
  list-style: none;
  padding: 0;
}

.modal-content ul li {
  margin: 10px 0;
}

.button {
  cursor: pointer;
}