.logoContainer {
  border-bottom: 2px solid #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.logo {
  padding-top: 1rem;
  padding-left: 1rem;
  width: 100%;
  width: 25%;
}

.accountPostContainer {
  display: flex;
  align-items: center;
}

.newPostContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 12px;
  border-radius: 30px;
  margin-right: 4rem;
  border: none;
  font-size: 1.2rem;
  background-color: white;
  transition: background-color 0.2s ease;
}

.newPostContainer:hover {
  background-color: #ec300ab0;
  cursor: pointer;
}

.plusBtn {
  margin-right: 1rem;
  font-size: 2rem;
}

.profileIconContainer {
  outline: 3px solid black;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.profileIconContainer:hover {
  background-color: #ec300ab0;
  outline: none;
}

.profileIcon {
  height: 30px;
  width: 30px;
}