.postContainer {
  cursor: pointer;
}

.icon {
  display: none;
}

.post {
  border-radius: 15px;
  transition: background-color 0.2s ease;
}

.post:hover {
  background-color: #ec300a17;
}

.postInfo {
  display: flex;
  justify-content:baseline;
  align-items: center;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;

}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid black;
  border-radius: 50%;
  margin-top: 5px;
}

.avatar {
  padding: 8px;
  height: 17px;
  width: 17px;
}

.timestamp {
  font-style: italic;
}

.trashCan {
  margin-left: 4rem;
  cursor: pointer;
}

.username {
  padding-left: 4rem;
}

.timestamp {
  padding-left: 1rem;
}

.postTitle {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.postTitle::after {
  content: "";
  display: block;
  margin-top: 2rem;
  border-bottom: 1px solid #cbcbcb;
  width: 450px;
}

.unread {
  margin-left: 1rem;
  text-align:center;
  display:block;
  padding-top: 10px;
  width:100px;
  height:30px;
  border-radius: 10px;
  background:#ec300a57;
}

/* mobile stylings */
@media (max-width: 768px) {
  .username {
    padding-left: 2rem;
  }

  .postTitle {
    width: 350px;
    overflow: hidden;
  }

  .postTitle::after {
    content: "";
    display: block;
    margin-top: 2rem;
    border-bottom: 1px solid #cbcbcb;
    margin-left: 1rem;
    width: 100%;
  }

  .trashCan {
    margin-left: 1rem;
  }

  
}