.postContainer {
  cursor: pointer;
}

.post {
  border-radius: 15px;
  transition: background-color 0.2s ease;
}

.post:hover {
  background-color: #ec300a17;
}

.postInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid black;
  border-radius: 50%;
  margin-top: 5px;
}

.avatar {
  padding: 8px;
  height: 17px;
  width: 17px;
}

.trashCan {
  margin-left: 4rem;
  cursor: pointer;
}

.username {
  padding-left: 4rem;
}

.timestamp {
  padding-left: 1rem;
}

.postTitle {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.postTitle::after {
  content: "";
  display: block;
  margin-top: 2rem;
  border-bottom: 1px solid #cbcbcb;
  width: 450px;
}